/* Container */
#container{
    height: 100vh;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}
/* Product Container */
#product-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/*Photos*/
.photos{
    width: 554px;
    height: 553px;
    margin: 5rem 0 0 0;
}
/* Product Options */
.product-options{
    margin: 5rem 0 0 5rem;
}
/* Product Description */
.product-description h2{
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 44px;
    letter-spacing: -1.5px;
}
.product-description h3{
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 26px;
    letter-spacing: -0.3px;
}
.product-description p{
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 26px;
    letter-spacing: -0.3px;
    width: 357px;
}
/* Product Color */
.product-color h4{
    font-family: 'Public Sans';
    font-weight: 400;
    font-size: 1.12rem;
    line-height: 26px;
    letter-spacing: -0.3px;
}
.product-color ul{
    display: flex;
    padding-left: 0;
}
.product-color ul li{
    list-style: none;
    margin-right: 8px;
}
.product-color ul li button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
    border: solid 0.01em #000000;
}
/* Product size */
.product-size ul{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.product-size ul li{
    list-style: none;
    margin-right: 8px;
}
.product-size ul li button{
    width: 40px;
    height: 40px;
    border: solid 0.01em #000000;
}
/* Btn back */
.btn-back{
    height: 140px;
    display: flex;
    align-items: flex-end;
}
.btn-back button{
    color: #ffffff;
    width: 151px;
    height: 50px;
    background-color: #0D0D0D;
    font-family: 'Public Sans';
    font-weight: 600;
    font-size: 1em;
    line-height: 22px;
    letter-spacing: -0.4px;
}
@media (max-width: 688px){
    #container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
    }
    #product-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20%;
    }
    .photos{
        width: 300px;
        height: 300px;
        margin: 0;
    }
    #photos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-options{
        margin: 0;
    }
    .product-description h2{
        font-size: 1.8rem;
    }
    .product-description h3{
        font-size: 1.12rem;

    }
    .product-description p{
        width: 300px;
    }
    .product-color ul li button{
        width: 30px;
        height: 30px;
    }
    .product-size ul li button{
        width: 30px;
        height: 30px;
    }
    .btn-back{
        height: 70px;
        justify-content: center;
    }
}
@media (min-width: 689px) and (max-width: 767px){
    #container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
    }
    #product-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .photos{
        width: 454px;
        height: 453px;
        margin: 0;
    }
    #photos{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-options{
        margin: 1rem 0 0 0;
        width: 462px;
    }
    .product-description h2{
        font-size: 2.5rem;
    }
    .product-description h3{
        font-size: 1.12rem;

    }
    .product-description p{
        width: 450px;
    }
    .product-color ul li button{
        width: 30px;
        height: 30px;
    }
    .product-size ul li button{
        width: 55px;
        height: 55px;
    }
    .btn-back{
        height: 120px;
        justify-content: center;
    }
}
@media (min-width: 768px) and (max-width: 868px){
    #container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100vh;
    }
    #product-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .photos{
        width: 454px;
        height: 453px;
        margin: 0;
    }
    .product-options{
        margin: 1rem 0 0 0;
        width: 462px;
    }
    .product-description h2{
        font-size: 2.5rem;
    }
    .product-description h3{
        font-size: 1.12rem;

    }
    .product-description p{
        width: 450px;
    }
    .product-color ul li button{
        width: 30px;
        height: 30px;
    }
    .product-size ul li button{
        width: 55px;
        height: 55px;
    }
    .btn-back{
        height: 120px;
        justify-content: center;
    }
}
@media (min-width: 869px) and (max-width: 1199px){
    #container {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 100vh;
    }
    #product-container{
        background-color: #F5F5F5;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
    }
    .photos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 454px;
        height: 453px;
        margin: 0;
    }
    #photos{
        display: flex;
    }
    .product-options{
        margin: 0;
    }
    .product-description h2{
        font-size: 2.5rem;
    }
    .product-description h3{
        font-size: 1.5rem;

    }
    .product-description p{
        width: 450px;
    }
    .product-color ul li button{
        width: 30px;
        height: 30px;
    }
    .product-size ul li button{
        width: 55px;
        height: 55px;
    }
    .btn-back{
        height: 120px;
        justify-content: center;
    }
}
@media (min-width: 1350px){
    
}